[alias]
	tree = log --all --graph --decorate --pretty=oneline --abbrev-commit
    s = status
    sync-force = !git branch | xargs git branch -D
    ck = checkout
[user]
	name = metalg0su
	email = metalg0su@gmail.com
	name = Seongjun
[core]
	editor = vim
[difftool]
    prompt = false
[push]
	default = current
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
