[alias]
	# files
    s = status
    a = "!git add $(git status -s | fzf -m --preview \"git diff {2}\" | awk '{print $2}')"
	au = "!git add -u"
	auc = "!git au && git commit"
    addnw = !sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'

	# commit
	com = "commit -am 'auto commit'"
	coma = "!git commit --amend"
	drop = "!git restore --staged $1 && git restore $1"
	
	# stash
	staa = "!git stash --include-untracked"
	stap = "!git stash pop"
	stad = "!git stash drop"

	# branches
    bra = branch -vv
    ck = checkout
    bselect = "!f() { \
            _height=$(stty size | awk '{print $1}');\
            git branch | egrep -v '^\\*' | fzf --preview \"git log {1} --oneline --graph | head -n $_height\"; \
        }; f"

	# inspection
	tree = log --all --graph --decorate --oneline
    lg = log --graph --decorate --oneline
    history = log --stat --format=short --follow

	# sync
    sync-force = "!git remote prune origin && git fetch && git branch | xargs git branch -D"
	sync-tags = "!git tag -l | xargs git tag -d && git fetch -t"
	sync-sub = "!git submodule update --remote"

	# Miscellaneous
    cp = cherry-pick
	tags = "tag --list --sort=-v:refname"
    alias = "!git config --list | egrep '^alias.+' | sed -e 's/^alias\\.//' | sed -e 's/^[^=]*=/\\'$'\\033[31m&\\033[(B\\033[m/'"
[user]
	email = metalg0su@gmail.com
	name = Seongjun Ji
[core]
	editor = vim
	quotepath = false
	whitespace = trailing-space,space-before-tab
[apply]
	whitespace = fix
[difftool]
    prompt = true
[push]
	default = current
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[color]
	ui = auto
	branch = auto
	status = auto
[commit]
	verbose = true
[mergetool]
	keepBackup = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
